.xp-animation {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translateX(-50%);

  font-size: 32px;
  font-weight: bold;

  color: #3ee5f1;

  pointer-events: none;

  animation: floatXP 2s ease-out forwards;

  z-index: 9999;
}

@keyframes floatXP {

  0% {
    opacity: 1;
    transform:
      translate(-50%, 0);
  }

  100% {
    opacity: 0;
    transform:
      translate(-50%, -150px);
  }

}