body {
  background: #0f0f0f;
  color: white;
  font-family: Arial;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

input, button {
  padding: 8px;
}

button {
  cursor: pointer;
}

/* XP */
.xp-box {
  background: #111;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.xp-bar {
  height: 10px;
  background: #333;
  border-radius: 5px;
}

.xp-fill {
  height: 100%;
  background: #00ff99;
}

/* DASHBOARD */
.dashboard {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
  margin: 20px 0;
}

.stat {
  background: #1c1c1c;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

/* CHART */
.chart {
  display: flex;
  justify-content: space-between;
  height: 150px;
}

.bar-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar {
  width: 20px;
  background: #00ff99;
  border-radius: 5px;
}

.bar-box span {
  font-size: 12px;
}

/* HABIT */
.card {
  background: #1c1c1c;
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.days button {
  margin: 2px;
}

.days .active {
  background: green;
}

/* HEATMAP */
.color-empty { fill: #2d2d2d; }
.color-green { fill: #00ff99; }
.color-red { fill: #ff4d4d; }